<div class="mt-4 ms-4">
<h1 class="mb-4"><%= "Stupid coaching" %></h1>

<div class="mb-4 border-start border-5 bg-light p-2 text-dark bg-opacity-10 w-25 p-3">
  <h2 class="fs-4"><%=@ask%></h2>
  <p><%="--You--"%></p>
</div>

<div class="mb-4 border-start border-5 bg-warning p-2 text-dark bg-opacity-10 w-25 p-3">
  <h2 class="fs-4"><%=@answer%></h2>
  <p><%="--Your coach--"%></p>
</div>

<p class="link"><%= link_to "Ask a new question", ask_path %></p>
</div>
